.card-panel{
    background-size: contain;
    min-width: fit-content;
    height: fit-content;
    width: 20rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-color: rgba(128, 128, 128, 0.151) !important;
}

#entry1{

    margin-right: 1.5rem
}

#entry2{
    
    margin-right: 1.5rem
}

.heroName{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


#start{
    margin: 2rem;
}

.info{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   margin-top: 10px;
}

.FunFact{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
}

#woo{
    margin-top: 6rem;
}

.choose{
    text-align: left;
    width: 100%;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    font-size: larger;
    background-color: transparent
};

.name1{
    margin: 0 auto;
    font-style: oblique;
}

#wool{
    width: 33%;
    border-radius: 4px;
    background-color: #333333;
    color: white;
    font-family: 'Montaga', serif; 
    font-weight: 800;
    font-size: x-large;
    padding: 1rem
    
}

button:hover{
    background-color:rgb(155, 155, 240) !important;
    cursor: pointer;
    border-radius: 2px;
}

button:focus{
    background-color:rgb(155, 155, 240) !important;
}


button{
    border: none;
    margin-bottom: 1rem;
}

.title{
    min-width: fit-content;
    width: 100%;
    font-size: larger;
    font-family: 'Exo 2', sans-serif;
    background-color: #333333;
    color: whitesmoke;
    padding: 4px
}

.fullnames{
    min-width: fit-content;
    width: 100%;
    font-size: large;
    font-family: 'Montaga', serif;
    color: #333333;
    padding: 4px;
    font-weight: 700;
}

.firstap{
    min-width: fit-content;
    width: 100%;
    font-size: medium;
    font-family: 'Montaga', serif;
    color: #333333;
    padding: 4px;
    font-weight: 700;
}

#chosen{
    font-size: 25px;
    text-decoration: underline overline;
    transform: skew(10px);
   font-style: oblique;
   font-family: 'Exo 2', sans-serif;
   color: #333333;
   width: fit-content;
   margin: 0 auto;
}
