

#entry1{
    position: static;
    width: 33%;
}

#entry2{
    margin: 2rem;
    
}

.heroName{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}


#start{
    margin: 2rem;
}

.info{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
   margin-top: 10px;
}

.FunFact{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 20px;
}

#woo{
    margin-top: 10rem;
}

#image{
    width: 175px
}

#calc{
    border-radius: 3px;
    background-color: #333333;
    color: whitesmoke;
    font-size: larger;
    padding: 12px;
    margin-top: 2rem
}

.container{
    text-align: center;
}

#vs{
    font-size: 5rem;
    padding-top: 1rem;
}

@media screen and (max-width: 589px) {
    #woo {
      margin-right: 2.5rem;
    }
  }
  

